<h1 class="mb-2">Formularios de Ingreso</h1>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mt-4">
    <h2 class="text-center">Ingreso de Producto</h2>
    <form id="form-producto" action="/api/productos/" method="post">
        <div class="form-group">
        <input
            type="text"
            name="title"
            id="title"
            placeholder="Nombre"
            class="form-control"
        />
        </div>
        <div class="form-group">
        <input
            type="number"
            name="price"
            id="price"
            placeholder="Precio"
            class="form-control"
        />
        </div>
        <div class="form-group">
        <input
            type="text"
            name="thumbnail"
            id="thumbnail"
            placeholder="URL imagen"
            class="form-control"
        />
        </div>
        <button class="btn btn-block btn-primary">Ingresar</button>
    </form>
    </div>
</div>